name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: lua-atmos/f-streams
        path: f-streams
    - name: Install Lua
      run: |
        sudo apt-get update
        sudo apt-get install -y lua5.4 luarocks
    - name: Install LuaLanes
      run: sudo luarocks install lanes
    - name: Run tests
      run: |
        eval $(luarocks path)
        cd tst && LUA_PATH="../f-streams/?/init.lua;../?.lua;../?/init.lua;;$LUA_PATH" lua5.4 all.lua
