name: Tests

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - uses: actions/checkout@v4
      with:
        repository: lua-atmos/f-streams
        path: f-streams
    - name: Install Lua
      run: |
        sudo apt-get update
        sudo apt-get install -y lua5.4
    - name: Run tests
      run: cd tst && LUA_PATH="../f-streams/?/init.lua;../?.lua;../?/init.lua;;" lua5.4 all.lua

  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Check HTML is up to date
      run: |
        bash build.sh
        git diff --exit-code lua.html lua-atmos.html atmos.html
